<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions>
		<permission action="dispGuestbookAdminGuestbookInfo" target="manager" />

		<permission action="procGuestbookAdminInsertGuestbook" target="manager" />

    </permissions>
    <actions>
		<action name="dispGuestbookAdminContent" type="view" standalone="true" admin_index="true" />
		<action name="dispGuestbookAdminGuestbookInfo" type="view" standalone="true" />
		<action name="dispGuestbookAdminInsertGuestbook" type="view" standalone="true" setup_index="true" />
		<action name="dispGuestbookContent" type="view" index="true" />
		<action name="dispGuestbookAdminDeleteGuestbook" type="view" standalone="true" />

		<action name="procGuestbookAdminInsertGuestbook" type="controller" standalone="true" />
        <action name="procGuestbookAdminDeleteGuestbook" type="controller" standalone="true" />
		<action name="procGuestbookInsertGuestbookItem" type="controller" />
		<action name="procGuestbookDeleteGuestbookItem" type="controller" />
    </actions>
</module>
